.button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px;
    border-radius: 8px;

    border: 1px solid transparent;
    background-color: transparent;

    color: var(--text);
    cursor: pointer;

    transition: all 0.3s ease;
}

.button:hover {
    background-color: #01b4e4;
    color: #fff;
    border-color: #01b4e4;
}