.footer {
    margin-top: 60px;
    text-align: center;
    padding: 16px;

    border-top: 1px solid var(--text);

    background-color: var(--bg);
    color: var(--text);

    font-size: 14px;

    
    transition: all 0.3s ease;
}