/* RatingRange.module.css */

.rangeWrapper {
    position: relative;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* линия */
.rangeTrack {
    position: absolute;
    height: 5px;
    width: 100%;
    background: #ddd;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}

/* активный диапазон */
.rangeFilled {
    position: absolute;
    height: 5px;
    background: #0080ff;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}

/* input */
.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;
    appearance: none;
    background: none;
}


.thumb::-webkit-slider-thumb {
    pointer-events: all;
    width: 16px;
    height: 16px;
    background: #0080ff;
    border: 2px solid #0080ff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
}

.thumb::-moz-range-thumb {
    pointer-events: all;
    width: 16px;
    height: 16px;
    background: #0080ff;
    border: 2px solid #0080ff;
    border-radius: 50%;
    cursor: pointer;
}

/* текст */
.values {
    margin-top: 70px;

}